html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #0d0a0b;
  color: #e4dfda;

  font-family: serif;
}

body {
  line-height: 1.8;
  height: 100vh;
  width: 100vw;
}

h1,
h2 {
  text-align: center;
  font-family: sans-serif;
  color: #d4b483;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

div {
  margin: auto;
}

a,
a::after {
  margin-top: 0;
  margin: 1em;
  color: #c1666b;
}

iframe {
  border: none;
  display: block;
  margin: auto;
}
