@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

h1,
h2,
h3 {
  font-family: "Space Mono";
}

body {
  font-family: "Space Grotesk";
}

p {
  font-size: 18px;
}
